In [8]:
import pandas as pd

fp = 'input/Salary_Data.csv'
df = pd.read_csv(fp)

data_head = df.head()
data_info = df.info()
data_description = df.describe(include='all')

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [9]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Salary Data", explorative=True)

profile_report_path = 'output/before_profile_report.html'
profile.to_file(profile_report_path)
profile_report_path

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\micha\anaconda3\envs\zatd\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: "Bachelor's"')
  warnings.warn(
C:\Users\micha\anaconda3\envs\zatd\Lib\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
C:\Users\micha\anaconda3\envs\zatd\Lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

'output/before_profile_report.html'

In [12]:
from ydata_profiling import ProfileReport

fp_a = 'output/salary_data_cleaned.csv'
df_a = pd.read_csv(fp_a)
profile = ProfileReport(df_a, title="Salary data", explorative=True)

profile_report_path = 'output/after_profile_report.html'
profile.to_file(profile_report_path)
profile_report_path

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\micha\anaconda3\envs\zatd\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Bachelor'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

'output/after_profile_report.html'

In [15]:
import sweetviz as sv

female_data = df_a['Gender'] == 'Female'
male_data = df_a['Gender'] == 'Male'
report = sv.compare_intra(df_a, df_a['Gender'] == 'Female', ["Female", "Male"])

report.show_html('SweetViz_Report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report SweetViz_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.